<div class="banner">
	<div class="banner_cont">
		<div class="grid-container">
			<div class="banner_info grid-50 grid-parent prefix-25 suffix-25">
				<div class="info_photo grid-40 mobile-grid-100 tablet-grid-50 hide-on-mobile">
					<img src="assets/images/profil.jpg" alt="Photo de profil" class="profil">
				</div>
				<div class="info_text grid-60 mobile-grid-100 tablet-grid-50">
					<h1>Ivan Biedermann</h1>
					<p><i class="fa fa-briefcase"></i> Travail à NEXANS</p>
					<p><i class="fa fa-envelope-o"></i> <a href="#" title="ivan.biedermann@gmail.com">ivan.biedermann@gmail.com</a></p>
					<p><i class="fa fa-code"></i> Développeur Web</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sect_title" id="about">
	<h1>À propos de moi</h1>	
</div>
<div class="content">
	<div class="grid-container">
		<div class="page grid-80 suffix-10 prefix-10">
			<p>J'ai 20 ans et je suis un grand passioné d'informatique.</p>
			<p>J'adore tous ce qui s'apparente au domaine de l'informatique plus précisement dans la programmation web, android, applications client, applications serveur, ...</p>
			<p>J'aime me divercifier autant dans les languages que des applications à réaliser.</p>
			<p>J'apprécie également élargire mes connaissances en utilisant les nouvelles technologies qui voyent le jour au des technologies similaires à celles que j'utilise déjà.</p>
			<ul class="fa-ul">
				<li><i class="fa fa-li fa-circle-o"></i> Développement de site web statique ou dynamique avec differents FrameWork ou technologies</li>
				<li><i class="fa fa-li fa-circle-o"></i> Intaller et utiliser differents système d'exploitation</li>
				<li><i class="fa fa-li fa-circle-o"></i> M'informer des nouveauté en matiére de technologies ou de FrameWork afin d'avoir toujours une application à jour et fonctionel</li>
				<li><i class="fa fa-li fa-circle-o"></i> Jouer à differents jeux vidéo et autre divertissement (Lécture, Film, Série, ...)</li>
				<li><i class="fa fa-li fa-circle-o"></i> Plongeur au Red Fish et Gymnaste et entraineur à Gym Neuchâtel</li>
			</ul>
		</div>
	</div>
</div>
<div class="sect_title" id="life">
	<h1>Mon parcours</h1>
</div>
<div class="content">
	<div class="grid-container">
		<div class="page grid-80 suffix-10 prefix-10">
			<canvas id="gitGraph" class="hide-on-mobile hide-on-tablet"></canvas>
			<div class="hide-on-desktop">
				<h3 class="vie">[Vie] 23 Septembre 1996 - Naissance</h3>
				<h3 class="scolaire">[Scolaire] 2002 - 2006 École primaire de Cortaillod</h3>
				<h3 class="scolaire">[Scolaire] 2007 - 2011 École secondaire les cerisiers</h3>
				<h3 class="scolaire">[Scolaire] 2009 Stage de cuisinier au Cheval blanc à Colombier</h3>
				<h3 class="scolaire">[Scolaire] 2010 Stage d'informaticien au SCIEN à Neuchâtel</h3>
				<h3 class="vie">[Vie] 2012 Fin de la scolarité obligatoire</h3>
				<h3 class="scolaire">[Scolaire] 2012 - 2013 Début d'apprentissage dessinateur au CIFOM</h3>
				<h3 class="scolaire">[Scolaire] Septembre 2013 Arrêt de l'apprentissage au CIFOM</h3>
				<h3 class="scolaire">[Scolaire] Fin septembre 2013 Début d'un apprentissage d'informaticien CPLN</h3>
				<h3 class="vie">[Vie] 2015 obtension d'un certificat JS Gymnastique</h3>
				<h3 class="prof">[Professionnel] Mars 2016 Engagement chez NEXANS SA</h3>
				<h3 class="scolaire">[Scolaire] Avril 2016 Projet personel diverce</h3>
				<h3 class="prof">[Professionnel] Juin 2016 Apprentissage de diverce framework</h3>
				<h3 class="scolaire">[Scolaire] Août 2016 Mise en place d'un serveur multimedia (Plex)</h3>
				<h3 class="vie">[Vie] Coming soon - Fetching next story...</h3>
			</div>
		</div>
	</div>
</div>
<div class="sect_title" id="skills">
	<h1>Compétences</h1>
</div>
<div class="content">
	<div class="grid-container">
		<div class="under_title grid-80 suffix-10 prefix-10">
			<h2>Programmation</h2>
		</div>
		<div class="grid-80 prefix-10 suffix-10 grid-parent cont_skils">
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-95">
				  <div class="overlay">HTML / CSS</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-90">
				  <div class="overlay">PHP</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-85">
				  <div class="overlay">JS / Jquery</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-60">
				  <div class="overlay">Java</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-40">
				  <div class="overlay">TypeScript</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-40">
				  <div class="overlay">C#</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-30">
				  <div class="overlay">Python</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-20">
				  <div class="overlay">C / C++</div>
				</div>
			</div>
		</div>
		<div class="under_title grid-80 suffix-10 prefix-10">
			<h2>Système</h2>
		</div>
		<div class="grid-80 prefix-10 suffix-10 grid-parent cont_skils">
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-90">
				  <div class="overlay">Windows 7,8,10</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-80">
				  <div class="overlay">Linux (Debian)</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-20">
				  <div class="overlay">MacOs</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-30">
				  <div class="overlay">Windows Server</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-30">
				  <div class="overlay">ArchLinux</div>
				</div>
			</div>
		</div>
		<div class="under_title grid-80 suffix-10 prefix-10">
			<h2>Autres</h2>
		</div>
		<div class="grid-80 prefix-10 suffix-10 grid-parent cont_skils">
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-65">
				  <div class="overlay">Photoshop cs6</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-60">
				  <div class="overlay">After effect cs6</div>
				</div>
			</div>
			<div class="grid-25 mobile-grid-100 tablet-grid-50">
				<div class="progress-radial progress-45">
				  <div class="overlay">Réseau</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sect_title" id="contact">
	<h1>Contact</h1>
</div>
<div class="content">
	<div class="grid-container">
		<div class="page grid-80 suffix-10 prefix-10 grid-parent">
			<a href="#" title="Twitter" class="grid-33 btn-contact"><i class="fa fa-twitter fa-3x"></i></a>
			<a href="#" title="Telegram" class="grid-33 btn-contact"><i class="fa fa-paper-plane fa-3x"></i></a>
			<a href="#" title="E-mail" class="grid-33 btn-contact"><i class="fa fa-envelope fa-3x"></i></a>
<!-- 			<p class="grid-33 center">Twitter</p>
			<p class="grid-33 center">Telegram</p>
			<p class="grid-33 center">E-mail</p> -->
		</div>
	</div>
</div>