<nav>
	<ul>
		<li><a href="#about" onclick="nav(this)" title="Home" class="active"><i class="fa fa-user fa-2x"></i><span class="nav-name hide-on-mobile">à propos</span></a></li>
		<li><a href="#life" onclick="nav(this)" title="Scolariter et parcours pro"><i class="fa fa-code-fork fa-2x"></i><span class="nav-name hide-on-mobile">Parcours</span></a></li>
		<li><a href="#skills" onclick="nav(this)" title="Compétences"><i class="fa fa-bar-chart fa-2x"></i><span class="nav-name hide-on-mobile">Compétences</span></a></li>
		<li><a href="#contact" onclick="nav(this)" title="Contact"><i class="fa fa-info fa-2x"></i><span class="nav-name hide-on-mobile">Contact</span></a></li>
	</ul>
</nav>