<nav>
	<ul>
		<li><a href="#about" title="Home"><i class="fa fa-user fa-2x"></i><span class="nav-name">à propos</span></a></li>
		<li><a href="#life" title="Scolariter et parcours pro"><i class="fa fa-code-fork fa-2x"></i><span class="nav-name">Parcours</span></a></li>
		<li><a href="#skills" title="Compétences"><i class="fa fa-bar-chart fa-2x"></i><span class="nav-name">Compétences</span></a></li>
		<li><a href="#contact" title="Contact"><i class="fa fa-info fa-2x"></i><span class="nav-name">Contact</span></a></li>
	</ul>
</nav>