*{
	padding: 0;
	margin: 0;
	font-family: helvetica;
}
html,body{
	width: 100%;
	height: 100%;
}

nav{
	width:100%;
	height: 75px;
	background-color: rgba(46,50,60,0.7);
	position: fixed;
	z-index: 10;
	box-shadow: 0 1px 3px rgba(0,0,0,.16), 0 1px 3px rgba(0,0,0,.23);
}
nav a{
	color:#EDF0F2;
	text-decoration: none;
	display: block;
	height: 75px;
	line-height: 75px;
	width: auto;
	padding: 0 20px;
	transition:all 0.3s, transform 0.3s;
}
nav a.active{
	background-color: #EDF0F2;
	color:#2E323C;
}
nav a:hover{
	background-color: #EDF0F2;
	color:#2E323C;
}
nav ul{
	width: 100%;
	height: 100%;
	text-align: center;
	list-style: none;
}
nav ul li{
	display: inline-block;
}
i{
	margin-top: 10px;
}
.nav-name{
	display: block;
	margin-top: -20px;
	text-transform: uppercase;
	font-weight: lighter;
}
.banner{
	height: 50%;
	width: 100%;
	background-image: url('../images/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.banner_cont{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.65);
}
.info_photo{
	margin-top: 20%;
}
.info_text{
	margin-top: 28%;
	padding-left: 50px;
}
.info_text{
	color:#EDF2F3;
	line-height: 30px;
}
.info_text a{
	color:#EDF2F3;
}
.profil{
	width: 100%;
	height: 220px;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	border-radius: 100%;
	border:5px solid #EDF2F3;
}
@media screen  and (max-width:750px){
	.banner{
		min-height: 100%;
	}
	.info_photo{
		margin-top: 30%;
		margin-bottom: 40px;
	}
	.info_text{
		padding: 0;
		text-align: center;
	}
}
.sect_title{
	width: 100%;
	height: 60px;
	background-color: #4589B0;
	color: #EDF2F3;
	text-align: center;
	font-weight: 100;
	line-height: 60px;
	text-transform: uppercase;
}
.under_title{
	color: #EDF2F3;
	text-align: center;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
}
.content{
	width: 100%;
	background-color: #2E323C;
	padding-top: 50px;
	padding-bottom: 50px;
}
.page{
	padding:30px;
	background-color: #EDF2F3;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.page p{
	margin-bottom: 25px;
}
.page ul{
	padding-left: 30px;
}
.page ul li{
	margin-bottom: 10px;
}
.page ul li i{
	margin: 0;
}
.page h3{
	margin-bottom: 20px;
	font-weight: lighter;
}
.vie{
	color:#979797;
}
.scolaire{
	color:#008fb5;
}
.prof{
	color:#f39c12;
}
.cont_skils{
	padding-top: 50px;
}
.under{
	border-top: 1px solid rgba(255,255,255,.13);
	padding-top: 20px;
}
.btn-contact{
	text-align: center;
	height: 100px;
	line-height: 100px;
	color:#2E323C;
	transition:all 0.3s, transform 0.3s;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
}
.btn-contact:hover{
	color: #EDF2F3;
	background-color: #2E323C;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	transform:scale(1.1);
}
.btn-name{
	display: block;
	margin-top: -30px;
	text-transform: uppercase;
	font-weight: lighter;
}
.center{
	text-align: center;
}
hr{
	margin-top: 20px;
	margin-bottom: 20px;
}
footer{
	min-height: 90px;
	line-height: 90px;
	background-color: #4589B0;
	color: #EDF2F3;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	text-align: center;
	font-weight: lighter;
}
.loading{
	width: 100%;
	height: 100%;
	background-color: #2E323C;
	color:#EDF2F3;
	font-size: 3em;
	text-align: center;
	line-height: 700px;
	text-shadow: 2px 2px 2px rgba(0,0,0,.23);
}
//skils bar
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
body {
  padding: 30px 0;
  background-color: #2E323C;
  font-family: "Noto Sans", sans-serif;
}


/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  margin-right: 30px;
  margin:auto;
  margin-bottom: 20px;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #2E323C;
  background-color: #4589B0;
}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 25px;
  text-align: center;
  line-height: 130px;
  font-size: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  transition:all 0.5s, tranform 0.5s;
}

.progress-radial .overlay:hover {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 150px;
  font-size: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-5 {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-10 {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-15 {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-20 {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-25 {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-30 {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-35 {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-40 {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-45 {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-50 {
  background-image: linear-gradient(-90deg, #4589B0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-55 {
  background-image: linear-gradient(-72deg, #4589B0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-60 {
  background-image: linear-gradient(-54deg, #4589B0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-65 {
  background-image: linear-gradient(-36deg, #4589B0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-70 {
  background-image: linear-gradient(-18deg, #4589B0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-75 {
  background-image: linear-gradient(0deg, #4589B0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-80 {
  background-image: linear-gradient(18deg, #4589B0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-85 {
  background-image: linear-gradient(36deg, #4589B0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-90 {
  background-image: linear-gradient(54deg, #4589B0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-95 {
  background-image: linear-gradient(72deg, #4589B0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-100 {
  background-image: linear-gradient(90deg, #4589B0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #4589B0 50%, #2E323C 50%, #2E323C);
}

.progress-0-y {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-5-y {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-10-y {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-15-y {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-20-y {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-25-y {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-30-y {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-35-y {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-40-y {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-45-y {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-50-y {
  background-image: linear-gradient(-90deg, #f39c12 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-55-y {
  background-image: linear-gradient(-72deg, #f39c12 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-60-y {
  background-image: linear-gradient(-54deg, #f39c12 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-65-y {
  background-image: linear-gradient(-36deg, #f39c12 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-70-y {
  background-image: linear-gradient(-18deg, #f39c12 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-75-y {
  background-image: linear-gradient(0deg, #f39c12 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-80-y {
  background-image: linear-gradient(18deg, #f39c12 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-85-y {
  background-image: linear-gradient(36deg, #f39c12 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-90-y {
  background-image: linear-gradient(54deg, #f39c12 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-95-y {
  background-image: linear-gradient(72deg, #f39c12 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-100-y {
  background-image: linear-gradient(90deg, #f39c12 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #f39c12 50%, #2E323C 50%, #2E323C);
}

.progress-0-g {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-5-g {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-10-g {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-15-g {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-20-g {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-25-g {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-30-g {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-35-g {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-40-g {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-45-g {
  background-image: linear-gradient(90deg, #2E323C 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-50-g {
  background-image: linear-gradient(-90deg, #27ae60 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-55-g {
  background-image: linear-gradient(-72deg, #27ae60 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-60-g {
  background-image: linear-gradient(-54deg, #27ae60 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-65-g {
  background-image: linear-gradient(-36deg, #27ae60 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-70-g {
  background-image: linear-gradient(-18deg, #27ae60 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-75-g {
  background-image: linear-gradient(0deg, #27ae60 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-80-g {
  background-image: linear-gradient(18deg, #27ae60 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-85-g {
  background-image: linear-gradient(36deg, #27ae60 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-90-g {
  background-image: linear-gradient(54deg, #27ae60 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-95-g {
  background-image: linear-gradient(72deg, #27ae60 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #27ae60 50%, #2E323C 50%, #2E323C);
}

.progress-100-g {
  background-image: linear-gradient(90deg, #27ae60 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #27ae60 50%, #2E323C 50%, #2E323C);
}
